<nav class="flex flex-wrap items-center justify-between px-4 nav">
  <%= link_to "#" do %>
    <strong>MANGO</strong>TREE
  <% end %>

  <input class="hidden menu-btn" type="checkbox" id="menu-btn">
  <label class="relative block px-2 py-4 cursor-pointer select-none menu-icon md:hidden" for="menu-btn">
    <span class="relative flex items-center navicon bg-grey-darkest"></span>
  </label>

  <ul class="flex justify-end w-full m-0 border-b menu md:border-none list-reset md:w-auto">
    <li class="border-t md:border-none">
      <a href="/" class="block px-4 py-3 font-bold no-underline md:inline-block text-grey-darkest hover:text-grey-darker">Home</a>
    </li>
    <li class="border-t md:border-none">
      <a href="/" class="block px-4 py-3 no-underline md:inline-block text-grey-darkest hover:text-grey-darker">About</a>
    </li>
    <% if user_signed_in? %>
      <li class="border-t md:border-none">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "block md:inline-block px-4 py-3 no-underline text-grey-darkest hover:text-grey-darker"  %>
      </li>
    <% else %>
      <li class="border-t md:border-none">
        <%= link_to "Log In", new_user_session_path, class: "block md:inline-block px-4 py-3 no-underline text-grey-darkest hover:text-grey-darker"  %>
      </li>
    <% end %>
  </ul>
</nav>