<div class="container px-4 mx-auto">
  <h1 class="my-4 text-4xl font-bold text-center">Kitchen Sink ⛴</h1>

  <h2 class="mb-4 text-2xl font-bold">1. Buttons</h2>

  <div class="mb-4">
    <h3 class="mb-4 text-xl font-bold">1.1 Simple buttons</h3>
    <button class="inline-block px-6 py-2 text-white transition bg-yellow-300 border border-yellow-300 rounded shadow-inner active:bg-yellow-500 focus:outline-none hover:bg-yellow-400">Click Me</button>

    <button class="inline-block px-6 py-2 text-yellow-300 transition bg-white border border-yellow-300 rounded shadow-inner active:bg-yellow-500 focus:outline-none hover:bg-yellow-400 hover:text-white">Or me too</button>

  </div>
  <div class="mb-4">
    <h3 class="mb-4 text-xl font-bold">1.2 3D buttons</h3>
    <button class="relative px-8 py-4 text-white transition bg-yellow-300 rounded btn-3d hover:bg-yellow-400 active:bg-yellow-500 focus:outline-none">3D Button</button>
    <button class="w-20 h-20 text-white bg-yellow-300 rounded-full btn-3d-circle hover:bg-yellow-400 active:bg-yellow-500 focus:outline-none active:transform active:translate-y-4">Don't</button>
  </div>

  <div class="mb-4">
    <h3 class="mb-4 text-2xl font-bold">2. Input fields</h3>
    <div class="mb-4">
      <h3 class="mb-4 text-xl font-bold">2.1 Search bar</h3>

      <form class="flex search-form first:ml-0 last:mr-0">
        <input type="search" class="flex-grow px-4 py-3 transition duration-300 border border-r-0 border-gray-300 rounded-l focus:outline-none focus:shadow-inner focus:border-yellow-300" placeholder="What are you looking for?"/>
        <input type="submit" class="px-6 py-3 font-bold text-white transition bg-yellow-300 rounded-r cursor-pointer focus:outline-none hover:bg-yellow-400 active:bg-yellow-500 " value="&#xf002" />
      </form>

      <h3 class="my-4 text-xl font-bold">2.1 Regular input</h3>
      <input type="email" class="w-full px-4 py-3 transition duration-300 border border-gray-300 rounded focus:outline-none focus:shadow-inner focus:border-yellow-300 first:ml-0 last:mr-0" placeholder="Enter email..."/>

      <h3 class="my-4 text-xl font-bold">2.2 Inline inputs</h3>
      <div class="flex mb-4">
        <input type="email" class="w-full px-4 py-3 mx-2 transition duration-300 border border-gray-300 rounded first:ml-0 last:mr-0 focus:outline-none focus:shadow-inner focus:border-yellow-300" placeholder="Enter email..."/>
        <input type="password" class="w-full px-4 py-3 mx-2 transition duration-300 border border-gray-300 rounded focus:outline-none first:ml-0 last:mr-0 focus:shadow-inner focus:border-yellow-300" placeholder="Password"/>
      </div>

      <h3 class="my-4 text-xl font-bold">2.3 Input with label</h3>
      <div class="flex">
        <div class="w-full mx-2 first:ml-0 last:mr-0">
          <label for="firstName" class="block my-2">First Name</label>
          <input type="text" class="w-full px-4 py-3 transition duration-300 border border-gray-300 rounded focus:outline-none focus:shadow-inner focus:border-yellow-300" id="firstName" placeholder="First name"/>
        </div>
        <div class="w-full mx-2 first:ml-0 last:mr-0">
          <label for="lastName" class="block my-2">Last Name</label>
          <input type="text" class="w-full px-4 py-3 transition duration-300 border border-gray-300 rounded focus:outline-none focus:shadow-inner focus:border-yellow-300" id="lastName" placeholder="Last name"/>
        </div>
      </div>

      <h3 class="my-4 text-xl font-bold">2.4 Special input fields</h3>
      <h4 class="my-4 text-lg font-bold">2.4.1 Select input</h4>
      <div class="relative w-full select-input">
        <select class="w-full px-4 py-3 transition duration-300 border border-gray-300 rounded test focus:outline-none focus:shadow-inner focus:border-yellow-300 appearance-none" id="mySelectID">
          <option selected>Choose wisely...</option>
          <option value="1">Pikachu</option>
          <option value="2">Bulbasaur</option>
          <option value="3">Charmander</option>
          <option value="4">Squirtle</option>
        </select>
      </div>
      <h4 class="my-4 text-lg font-bold">2.4.2 Checkboxes</h4>
      <div class="my-4 bg-white toggleable-input">
        <input id="option_one" name="option_one" type="checkbox" class="hidden"/>
        <label for="option_one" class="relative z-10 block w-full px-4 py-3 overflow-hidden text-black transition border border-gray-300 rounded cursor-pointer pr-20">Option One</label>
      </div>
      <div class="my-4 bg-white toggleable-input">
        <input id="option_two" name="option_two" type="checkbox" class="hidden"/>
        <label for="option_two" class="relative z-10 block w-full px-4 py-3 overflow-hidden text-black transition border border-gray-300 rounded cursor-pointer pr-20">Option Two</label>
      </div>
      <div class="bg-white toggleable-input">
        <input id="option_text" name="option_text" type="checkbox" class="hidden"/>
        <label for="option_text" class="relative z-10 block w-full px-4 py-3 pr-20 overflow-hidden text-black transition border border-gray-300 rounded cursor-pointer">Option with a lot of text lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni quisquam voluptatem eveniet porro eum nobis necessitatibus quaerat aut suscipit officiis esse ab, quos odio nihil, itaque, debitis assumenda architecto quas.</label>
      </div>

      <h4 class="my-4 text-lg font-bold">2.4.2 Radio buttons</h4>
      <div class="my-4 bg-white toggleable-input">
        <input id="radio_one" name="radio_input" type="radio" class="hidden"/>
        <label for="radio_one" class="relative z-10 block w-full px-4 py-3 overflow-hidden text-black transition border border-gray-300 rounded cursor-pointer pr-20">Option One</label>
      </div>
      <div class="my-4 bg-white toggleable-input">
        <input id="radio_two" name="radio_input" type="radio" class="hidden"/>
        <label for="radio_two" class="relative z-10 block w-full px-4 py-3 overflow-hidden text-black transition border border-gray-300 rounded cursor-pointer pr-20">Option Two</label>
      </div>
    </div>
  </div>
</div>