<nav class="side-navbar group">
  <ul class="flex flex-row items-center w-screen h-20 navbar-nav sm:flex-col sm:w-full">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="absolute transform -translate-x-full link-text logo-text group-hover:-translate-x-0">MANGOTREE</span>
        <i class="mx-6 my-0 text-2xl transition-all duration-500 transform fas fa-angle-double-right group-hover:-rotate-180 min-width-8 "></i>
      </a>
    </li>

    <li class="w-full nav-item">
      <a href="#" class="nav-link">
        <i class="mx-6 my-0 text-2xl transition duration-500 fas fa-dragon min-width-8"></i>
        <span class="link-text">Dragons</span>
      </a>
    </li>

    <li class="w-full nav-item">
      <a href="#" class="nav-link">
        <i class="mx-6 my-0 text-2xl transition duration-500 fas fa-dog min-width-8"></i>
        <span class="link-text">Dogs</span>
      </a>
    </li>

    <li class="w-full nav-item">
      <a href="#" class="nav-link">
        <i class="mx-6 my-0 text-2xl transition duration-500 fas fa-frog min-width-8"></i>
        <span class="link-text">Frogs</span>
      </a>
    </li>

    <li class="w-full nav-item">
      <a href="#" class="nav-link">
        <i class="mx-6 my-0 text-2xl transition duration-500 fas fa-hippo min-width-8"></i>
        <span class="link-text">Hippos</span>
      </a>
    </li>

    <li class="w-full nav-item" id="themeButton">
      <a href="#" class="flex items-center justify-center h-20 text-white transition-all duration-500 nav-link hover:bg-black hover:text-white sm:justify-start">
        <i class="mx-6 my-0 text-2xl transition duration-500 fas fa-otter min-width-8"></i>
        <span class="link-text">Otters</span>
      </a>
    </li>
  </ul>
  </nav>

<main class="p-4 m-0 sm:ml-20">
  <h1 class="mb-4 text-4xl font-bold">This is a responsive sidebar</h1>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita odit rem ut eligendi deserunt ipsam ad! Nam deleniti officia voluptas illum. Culpa, dolorum cum dolorem eius repudiandae quidem officiis nobis?
    Cupiditate quo suscipit vitae tempora, officia, quam aut aliquam omnis nemo labore quibusdam ipsam esse iure sequi eaque perferendis cumque est ipsa. In magni ex similique laudantium nemo! A, magni?
    Nulla itaque mollitia nam quidem labore. Ad facilis itaque, consequatur cupiditate quo odio, similique ex laboriosam quidem iusto rerum. Similique, soluta? Facere, architecto modi! Sunt sint aperiam veritatis omnis asperiores!
    A quam provident praesentium veniam minus voluptate. Laudantium aliquam blanditiis esse, ullam accusamus maiores voluptate eum amet nostrum cumque rem commodi optio iusto dicta nobis, quae consequatur sit, soluta sunt.
    Praesentium velit dolorem voluptatem, ad dolorum, reiciendis magnam totam dolores, similique saepe ab incidunt architecto. Hic, soluta sit, quam modi minus dignissimos ducimus sint at, totam aut asperiores deleniti voluptatibus.
  </p>
</main>