$bg-primary: #f6c32c;
$bg-secondary: #141418;

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $bg-secondary;
}

body::-webkit-scrollbar-thumb {
  background: $bg-primary;
}

@layer components {
  .logo .logo-text {
    @apply tracking-wider-xl;
  }

  .side-navbar {
    @apply
      fixed bottom-0 overflow-scroll bg-yellow-400
      transition-width duration-500
      sm:bottom-auto sm:w-20 sm:hover:w-64 sm:h-full;

    .nav-link {
      @apply
        flex items-center justify-center h-20 text-white
        transition-all duration-500
        hover:bg-black hover:text-white sm:justify-start;
    }

    .link-text {
      @apply hidden ml-4 transition-all duration-500 opacity-0 sm:inline;
    }

    &:hover .link-text {
      @apply opacity-100;
    }

     .logo {
      @apply font-bold  text-center text-2xl text-white uppercase tracking-wide bg-black mb-4
      hidden w-full sm:block;
    }
  }
}